.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 364px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.image {
  width: 100%;
  border-radius: 20px;
  max-width: 364px;
  max-height: 270px;
  object-fit: cover;
  margin-bottom: 24px;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  margin-bottom: 24px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 20px;
  padding: 4px 8px;
  height: 24px;
  background: var(--color-btn-gray);
  font-weight: 400;
  font-size: 11px;
  line-height: 1.46;
  letter-spacing: -0.02em;
}
.lost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 20px;
  padding: 4px 8px;
  height: 24px;
  background: var(--color-btn-red);
  color: var(--color-white);
  font-weight: 400;
  font-size: 11px;
  line-height: 1.46;
  letter-spacing: -0.02em;
}
.found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 20px;
  padding: 4px 8px;
  height: 24px;
  background: var(--color-btn-green);
  color: var(--color-white);
  font-weight: 400;
  font-size: 11px;
  line-height: 1.46;
  letter-spacing: -0.02em;
}
.titleContainer {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.icon {
  fill: var(--color-black);
}
.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}
.description {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  margin-bottom: 12px;
}
.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--color-text);
}

@media screen and (min-width: 834px) {
  .container {
    max-width: calc((804px - 80px) / 2);
  }
  .image {
    max-width: 378px;
    height: auto;
    margin-bottom: 20px;
  }
  .list {
    margin-bottom: 8px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
  }
  .description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
  }
  .date {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: var(--color-text);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: calc((1334px - 120px) / 3);
  }
  .image {
    max-width: 432px;
  }
  .item {
    font-size: 12px;
    line-height: 1.33;
  }
  .lost {
    font-size: 12px;
    line-height: 1.33;
  }
  .found {
    font-size: 12px;
    line-height: 1.33;
  }
  .title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }
  .description {
    font-size: 16px;
    line-height: 1.5;
  }
}
