.addAdMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.addAdTitle {
  font-family: e-Ukraine;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.56px;
  margin-bottom: 12px;
}
.addAdTxt {
  display: block;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
.addAdAside {
  display: none;
}
@media screen and (min-width: 834px) {
  .addAdMain {
    margin-top: 40px;
  }
  .addAdTitle {
    font-family: e-Ukraine;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.12px;
  }
  .addAdTxt {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}

@media screen and (min-width: 1440px) {
  .addAdMain {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    justify-content: end;
    width: 100%;
    min-width: 1439px;
    max-width: 1440px;
    margin: 0;
  }
  .addAdSection {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .addAdAside {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    height: 100vh;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-blue);
    width: 480px;
  }
  .addAdAsideContent {
    width: 381px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 24px;
  }
  .addAdAsideTitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    margin-bottom: 28px;
    color: #fff;
  }
  .addAdAsideList {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.36px;
    list-style: disc;
    margin: 28px 50px;
  }
  .addAdAsideList li {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: -0.02em;
    color: #fff;
    margin-left: 20px;
    margin-bottom: 12px;
  }
  .addAdAsideList li:last-child {
    margin-bottom: 0;
  }
}
