
.registerWrapper {
  width: 100%;
  min-width: 350px;
  max-width: 351px;
  margin: 0 auto;
  border-top: solid 2px #dedeff;
}

.backButton {
padding-top: 22px;
padding-bottom: 22px;
background-color: transparent;
}

.BackBut {
  display: none;
}

.backButton:hover {
color: #5b5aff;
}

.title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: 12px;
}

.loginPrompt {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: 48px;
}

.loginLink {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #5b5aff;
}

/* ================поля форми================ */
.inputLabel {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.33333;
  color: #959595;
  margin-bottom: 3px ;
}

.inputField {
  border: none;
  border-bottom: 2px solid #000000; 
  padding: 7px 0; 
  width: 100%;
}

.inputField:focus, .inputField:hover {
  outline: none;
}

.inputField::placeholder{
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #515151;
}

.error,  .errorCheck {
  color: red;
  font-size: 0.7rem;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* ==============чекбокси============= */
.checkBoxLabel {
  display: flex;
  align-items: center;
  gap: 8px; 
  margin-bottom: 12px;
}
.checkBoxLabel2 {
  display: flex;
  align-items: center;
  gap: 8px; 
  margin-bottom: 51px;
}

.span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #0b0b0b;
}

.termsLink {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #5b5aff;
}
/* ================кнопки============ */
.button {
  display: flex;
  gap:  12px;
  margin-bottom: 47px;
}

.submitButton {
  padding: 12px 20px;
  border: 2px solid #5b5aff;
  border-radius: 40px;
  background-color: transparent; 
  color: #5b5aff;
}

.submitButton2 {
  padding: 12px 20px;
  border: 2px solid #5b5aff;
  border-radius: 40px;
  color: #ffffff;
}

.submitButton2:hover, .submitButton:hover {
  background: #4241cc;
  color: #ffffff;
}

/* =======================іконки=================== */
.p {
  display: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
  align-items: center;
}

.icon {
  width: 50px;
}

.help {
  display: none;
}
/* =========================медіа правила==================== */

@media screen and (min-width: 834px) {

  .registerWrapper {
    min-width: 713px;
    max-width: 714px;
  }

  .BackBut {
  display: inline;
  }

  .title {
    font-size: 56px;
  }

  .span {
    font-size: 18px;
    line-height: 1.55556;
  }

  .button {
    margin-bottom: 74px;
  }

  .p {
    display: block;
  }
}

@media screen and (min-width: 1440px) {

  .registerWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 1439px;
    max-width: 1440px;
    margin: 0;
  }

  .socialIcons {
    display: flex;
    flex-direction: column;
    max-width: 381px;
    background-color: #5b5aff;
    padding: 258px 48px 0px 51px;
    min-width: 480px;
  }

  .help {
    display: block;
    margin-bottom: 163px;
    width: 381px;
  }

  .h3 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    margin-bottom: 28px;
    color: #fff;
  }

  .div {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 72px;
    align-items: center;
  }

  .icon {
    width: 64px;
  }

  .halpP {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: -0.02em;
    color: #fff;
  }

  .help ul {
    list-style-type: disc;
    padding-left: 20px; 
  }
  .halpli {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: -0.02em;
    color: #fff;
    margin-left: 20px;
    margin-bottom: 12px;
  }

  .p {
    color: #fff;
  }

}