.section {
  padding-top: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.08;
  color: var(--color-black);
}
.text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.39;
  color: var(--color-black);
  margin-bottom: 24px;
}
.span {
  color: var(--color-blue);
}
.heroImg {
  max-height: 233px;
  margin-bottom: 24px;
  max-width: 364px;
  width: 100%;
}
.buttonContainer {
  display: flex;
  gap: 8px;
}
.btnFind {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 40px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  letter-spacing: -0.02em;
}
.btnReturn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 40px;
  font-size: 13px;
  line-height: 1.23;
  letter-spacing: -0.02em;
}


@media screen and (min-width: 834px) {
  .section {
    padding-top: 48px;
  }
  .container {
    position: relative;
    align-items: flex-start;
  }
  .containerContent {
    width: 383px;
  }
  .title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }
  .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-bottom: 48px;
  }
  .heroImg {
    position: absolute;
    right: 15px;
    width: 418px;
    height: 268px;
  }
  .buttonContainer {
    gap: 12px;
  }
}


@media screen and (min-width: 1440px) {
  .section {
    padding-top: 116px;
  }
  .containerContent {
    align-items: flex-start;
    width: 784px;
    gap: 48px;
  }
  .title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: -0.02em;
  }
  .text {
    width: 597px;
    font-size: 18px;
    line-height: 1.56;
  }
  .heroImg {
    max-width: 672px;
    max-height: 430px;
  }
  .btnFind {
    width: 199px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
  }
  .btnReturn {
    width: 228px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
  }
}
