.header {
  position: relative;
  background-color: var(--color-bg);
  min-height: 68px;
  padding: 18px 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
}

.btnSvg {
  background-color: transparent;
  padding: 0;
}

.icon {
fill: var(--color-black);
}

.desktopTabletNav {
  display: flex;
  gap: 56.5px;
  align-items: center;
}


@media screen and (min-width: 1440px) {
  .desktopTabletNav {
    gap: 252.5px;
  }
}