.addAdFormBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}
.addAdFormBackBtn {
  width: 113px;
  height: 56px;
  border-radius: 40px;
  padding: 16px 30px;
}
.addAdFormSubmitBtn {
  width: 237px;
  height: 56px;
  border-radius: 40px;
  padding: 16px 30px;
}
