@font-face {
  font-family: 'E-Ukraine';
  src: url('/fonts/e-ukraine-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'E-Ukraine';
  src: url('/fonts/e-ukraine-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'E-Ukraine';
  src: url('/fonts/e-ukraine-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


:root {
  /* Typography */
  --font-family: 'E-Ukraine', sans-serif;

  /* Neutral colors */
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #5b5aff;
  --color-bg: #fcfcfc;
  --color-bg-light-blue: #f0f0ff;
  --color-bg-dark-blue: #dedeff;
  --color-text: #959595;

  --color-btn-red: #ff3800;
  --color-btn-green: #04c65d;
  --color-btn-gray: #eaeaea;
  --color-btn-dark-blue: #4241cc;

  /* Container paddings */
  --padding-mobile: 10px;
  --padding-tablet: 15px;

  /* Container widths */
  --max-width-mobile: 390px; /* 370 контент (по макету) + 2*10 падинги */
  --max-width-tablet: 804px; /* 784 контент (по макету) + 2*15 падинги */
  --max-width-desktop: 1364px; /* 1334 контент (по макету) + 2*15 падинги */

  /* Section padding */
  --section-padding: 48px;
  --section-padding-desktop: 100px;
}


html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-black);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}

svg {
  fill: none;
}

.container {
  min-width: 320px;
  max-width: var(--max-width-mobile);
  padding-left: var(--padding-mobile);
  padding-right: var(--padding-mobile);
  margin: 0 auto;
}
.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media screen and (min-width: 834px) {
  .container {
    max-width: var(--max-width-tablet);
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: var(--max-width-desktop);
  }
  .section {
  padding-top: var(--section-padding-desktop);
  padding-bottom: var(--section-padding-desktop);
}
}
